REGION_A='459,436'
REGION_B='943,379'
REGION_C='1069,533'
REGION_D='455,643'
HKV_IP=192.168.7.54
HKV_USER=admin
HKV_PASS=abcd1234
HKV_SNAPSHOT_URL=http://{ip}/cgi-bin/snapshot.cgi?channel=1&subtype=0

ALPR_DETECTOR_MODEL=yolo-v9-t-640-license-plate-end2end
ALPR_OCR_MODEL=cct-xs-v1-global-model
PLATE_DETECTOR_ONNX=license-plate-finetune-v1x.onnx
PLATE_OCR_MODEL=cct-xs-v1-global-model
PLATE_DETECTOR_CONF=0.25