[
    {
        "rtsp_url": "rtsp://admin:abcd1234@192.168.7.54:554/cam/realmonitor?channel=1&subtype=0",
        "hkv_ip": "192.168.7.54",
        "hkv_user": "admin",
        "hkv_pass": "abcd1234",
        "hkv_snapshot_url": "http://{ip}/cgi-bin/snapshot.cgi?channel=1&subtype=0",
		"region_points": [
            [265,497],
            [1124,561],
            [1128,456],
            [25,346]
        ],
        "socket_ip": "127.0.0.1",
        "socket_port": 9001,
		"min_box_height": 0
    }
]